.flex_container {
    display: flex;
    align-items: center;
    align-items: start;
    flex-direction: column;
    align-items: end;


}

.ingredients_list {
    composes: flex_container;
    gap: 16px;
    overflow-y: scroll;
    margin: 16px 0px 16px 0px;
}

.ingredients_container {
    composes: flex_container;
    height: 680px;
}