.flex_container {
    display: flex;
}

.ingredient {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    width: 250px;
    text-align: center;
}

.price_details {
    composes: flex_container;
    gap: 8px;
}